{% extends 'menu.html' %}
{% block contenido %}
<div class="container">
    <div class="table-responsive-lg">
        <p align="right">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Nuevo Usuario</button>
            </p>
        <h1 class="title-container">
            Usuarios Registrados
        </h1>
            <div id="center">
                <div class="outer-wrapper">
                    <div class="contenido-tabla table-wrapper">
                        <table class="table-fill">
                            <thead>
                                <tr>
                                    <th>
                                        Nombre Usuario
                                    </th>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Tipo
                                    </th>
                                    <th>
                                        Acciones
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="fontfamily">
                                {% for usuario in usuarios %}
                                <tr>
                                    <td class="text-left">
                                        {{ usuario.username }}
                                    </td>
                                    <td class="text-left">
                                        {{ usuario.first_name }}
                                    </td>
                                    <td class="text-left">
                                        {{ usuario.cuenta.tipo }}
                                    </td>
                                    <td class="text-left">
                                        <a href="">❌</a>
                                        <a href="">🔳</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>        
            </div>
    </div>          
</div>            
{% endblock contenido %}