{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/menu.css' %}" />
    <link
      rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Home</title>
  </head>
  <body >
    <!-- Barra de nav -->
    <nav class="navbar navbar-expand-lg navbar-dark fondoheader">
      
      <button class="navbar-toggler" align="right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="bi bi-person-circle">  {{user.first_name}} {{ user.last_name }}</i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item text-primary" href="#">{{ user.cuenta.tipo | upper }}</a>              
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-danger" href="{% url 'home:logout' %}">Cerrar sesión</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Barra de nav -->    

    <!-- header -->
    <div id="menu" class="menu-collapsed">
      <div id="header">
        <div id="title"><span>Universo Digital</span></div>
        <div id="menu-btn">
          <div class="btn-universo"></div>
          <div class="btn-universo"></div>
          <div class="btn-universo"></div>
        </div>
      </div>

      <!-- profile -->
      <div id="profile">
        <div id="photo">
          <img src="{% static 'img/logo-terminado.png' %}" />
        </div>
        <div id="name"><span>Bienvenido</span></div>
      </div>
      <!--menu-->
      <div id="menu-items">
        <div class="item">
          <a href="{% url 'home:home' %}">
            <div class="icon"><i class="bi bi-house-door"></i></div>
            <div class="title"><span> Inicio </span></div>
          </a>
        </div>
        <div class="item separator"></div>
        <div class="item">
          <a href="{% url 'home:pagos' %}">
            <div class="icon"><i class="bi bi-credit-card-2-back"></i></div>
            <div class="title">Pagos</div>
          </a>
        </div>
        <div class="item separator"></div>
        <div class="item">
          <a href="{% url 'home:contrataciones' %}">
            <div class="icon"><i class="bi bi-file-text"></i></div>
            <div class="title">Contrataciones</div>
          </a>
        </div>
        <div class="item separator"></div>
        <div class="item">
          <a href="{% url 'home:servicios' %}">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <div class="title">Servicios</div>
          </a>
        </div>
        <div class="item separator"></div>
        <div class="item">
          <a href="{% url 'home:clientes' %}">
            <div class="icon"><i class="bi bi-person-lines-fill"></i></div>
            <div class="title">Clientes</div>
          </a>
        </div>
        <div class="item separator"></div>
        <div class="item">
          <a href="#">
            <div class="icon"><i class="bi bi-clipboard-data"></i></div>
            <div class="title">Reportes</div>
          </a>
        </div>
        <div class="item separator"></div>
        <div class="item">
          <a href="{% url 'home:informacion' %}">
            <div class="icon"><i class="bi bi-building-check"></i></div>
            <div class="title">Empresa</div>
          </a>
        </div>
        <div class="item separator"></div>
      </div>
    </div>
    
    <div class="row align-item-center justify-content-center vh-100">
      <div class="col-sm-11">
        {% block contenido %}
        {% endblock contenido %}
      </div>      
    </div>




    <!-- JS -->
    <script type="text/javascript">
      const btn = document.querySelector("#menu-btn");
      const menu = document.querySelector("#menu");
      btn.addEventListener("click", (e) => {
        menu.classList.toggle("menu-expanded");
        menu.classList.toggle("menu-collapsed");

        document.querySelector("body").classList.toggle("body-expanded");
      });

      window.addEventListener("scroll", function () {
        var header = document.querySelector("header");
        header.classList.toggle("abajo", window.scrollY > 0);
      });
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
