*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container{
    max-width: 800px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title{
    font-size: 30px;
    font-weight: 500;
    position: relative;
}

.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box{
    margin: 30px 0 25px 0;
    width: calc(100% / 2 - 30px);
}

.user-details .input-box .details{
    display: block;
    font-weight: 700;
    margin-bottom: 10px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
}





/*css para listados*/


div.table-title{
    display: block;
    margin: auto;
    max-width: 600px;
    padding: 5px;
    width: 100%;
}