/************************** barra lateral */
:root{
    --width: 230px;
    --padding: 10px;
    --bgcolor: linear-gradient(
        rgb(0, 72, 131),
        rgb(2, 26, 68)
    );
    --bgheader: linear-gradient(
        rgb(0, 72, 131),
        rgb(0, 54, 105)
    );
    --hovecolor: rgb(23, 23, 23);
    --widht-collapsed: 40px;
    --resaltado: rgb(181,255,254);
}

/*sliderbar*/

#side_nav{
    background: var(--bgcolor);
    min-width: 230px;
    max-width: 230px;
    transition: all 0.2s;
}

.botonColor{
    color: #d89d65;
}

.Lcolor{
    color: #65d8d6;
}

.content{
    min-height: 100vh;
    width: 100%;
}

hr .h-color{
    background: var(--resaltado);
}

.sidebar li.active{
    background: #bbe9e8;
    border-radius: 10px;
}

.sidebar li.active a, .sidebar li.active a:hover {
    color: #000000;
}

.sidebar li a{
    color: #65d8d6;
}

@media(max-width: 767px){
    #side_nav{
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }
    #side_nav.active{
        margin-left: 0;
    }
}

/*body*/

.espacio{
    padding-top: 50px;
}

body{    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    /*margin-left: var(--widht-collapsed);*/
    height: 100vh;
}

.body-expanded{
    margin-left: var(--width);
}


#menu{
    background: var(--bgcolor);
    color: #B5FFFE;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
}

#menu a{
    color: #B5FFFE;
    text-decoration: none;
}

/*header*/

#menu #header{
    box-sizing: border-box;
    border-bottom: solid 1px var(--hovecolor);
}

#menu #header #title{
    box-sizing: border-box;
    overflow: hidden;
}

#menu #header #title, #menu #header #menu-btn{
    vertical-align: middle;    
}

#menu #header #menu-btn{
    display: inline-block;
}

#menu #header #menu-btn{
    cursor: pointer;
    padding: 10px;
    width: var(--widht-collapsed);
    box-sizing: border-box;
}

#menu #header #menu-btn:hover{
    background-color: var(--hovecolor);
}

#menu #header #menu-btn .btn-universo{
    background-color: #fff;
    width: 100%;
    height: 2px;
    margin: 5px 0;
}

/*profile*/

#menu #profile{
    border-bottom: solid 1px var(--hovecolor);
    padding: var(--padding) 0;
    text-align: center;
}

#menu #profile #photo{
    box-sizing: border-box;
    padding: var(--padding);
    margin: 0 auto;
}

#menu #profile #photo img{
    border-radius: 10%;
    width: 90%;
}

#menu #profile #photo, #menu #profile #name{
    font-size: 24px;
    padding: var(--padding) 0;
    overflow: hidden;
}

/*ITEM*/

#menu #menu-items{
    overflow: hidden;
}

#menu #menu-items .item{
    width: var(--width);
}

#menu #menu-items .item .icon{     
    display: inline-block;
}

#menu #menu-items .item .icon,
#menu #menu-items .item .title{
    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
}

#menu #menu-items .item a{
    display: block;
}

#menu #menu-items .item a:hover{
    background-color: var(--resaltado);
    color: rgb(10, 19, 104);
    font-weight: bolder;
}

#menu #menu-items .item .icon{
    box-sizing: border-box;
    padding: var(--padding);
    width: var(--widht-collapsed);
}

#menu #menu-items .item .icon img{
    width: 100%;
}

#menu #menu-items .item .title{
    padding: var(--padding) 0;
}

#menu #menu-items .item.separator{
    height: 1px;
    border-bottom: solid 1px var(--hovecolor);
    margin: 10px 0;
}

/*menu expanded*/

.menu-expanded{
    width: var(--width);
    box-shadow: 0 0 10px rgba(0,0,0,0,5);
}

.menu-expanded #header #title{
    display: inline-block;
    width: calc(100% - 50px);
    margin-right: -10px;
    padding: var(--padding);
}

.menu-expanded #header #title span{
    width: calc(var(--width) - var(--width-collapsed) - 5px);
    overflow: hidden;
}

.menu-expanded #profile #photo{
    width: 200px;
}

.menu-expanded #profile #name{
    width: 100%;
}

/*collapsed*/

.menu-collapsed{
    width: var(--widht-collapsed);
}

.menu-collapsed #header #title{
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

.menu-collapsed #profile #name{
    display: none;
}

.menu-collapsed .item{
    width: 100px;
}

/************************** barra superior*/

.fondoheader{
      background: var(--bgheader);
}


/************************** cards */

.title-container{
    text-align: center;
    height: auto;
    margin:auto;
    font-size: 35px;
    color: rgb(4, 47, 122);
    margin-top:auto;
}

.lineas::after,.lineas::before{
    content: '';
    position: absolute;
    width: 200px;
    height: 8px;
    background-color: currentColor;
    top: 0.5em;
}

.lineas::after{
    left: -210px;
}

.lineas::before{
    right: -210px;
}

.contenido{    
    width: 100%;
    max-width: auto;
    height: auto;
    display: flex;
    flex-direction: row;    
    flex-flow: wrap;
    text-align: center;
    justify-content: space-around;
    margin: auto;
    align-items: center;
}

.contenido .card{
    background: rgb(235, 97, 5);
    width: 170px;
    height: 140px;
    border-radius: 30px;
    box-shadow: 0 2px 2px rgb(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 40px;
    text-align: center;
    transition: all 0.25s;
}

.contenido .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgb(1, 54, 134);
}

.title-card{
    margin: 0;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
}

.contenido .card h3{
    font-weight: 500;
    margin: 0;
    font-size: 20px
}

.contenido .card a {
    font-weight: 500;
    text-decoration: none;
    color: rgb(3, 76, 145);
}


/******************** tabla de contenido */
thead{
    background: rgb(3, 58, 131);
    color: #fff;
    position: sticky;
    top: 0px;
}

tbody tr{
    cursor: pointer;
}

tbody tr:hover{
    background: var(--resaltado);
}
/*
.contenido-tabla{
    border: solid 1px rgba(255, 0, 0, 0.568);
    overflow-y: scroll;
}

 table{
    color: black;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
    min-width: max-content;
    border-spacing: 0px;
}




th{
    padding: 10px 10px;
    font-weight: 700;
    text-transform: uppercase;    
}

td{
    padding: 15px;
    border-bottom: solid 1px;
    text-align: center;
}



.outer-wrapper{
    border: 1px solid rgb(3, 58, 131);
    box-shadow: 0px 0px 3px rgb(3, 58, 131);
    margin: 20px;
    border-radius: 10px;
    max-width: fit-content;
}
*/